@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="alert alert-danger" role="alert" style="text-align:center">
    <img src="https://cdn.pixabay.com/photo/2024/04/30/13/34/failed-8730239_1280.png" width="100px" />
    <br />
    An Error Occured in the System.Please contact your Administrator
    <br />
    <br />
    <a href="ErrorDetails" class="btn btn-info">Go to Error Detail</a>
</div>