<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hope.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hope.UI.styles.css" asp-append-version="true" />
    
    @*Vendor Style*@
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet" />
    <link href="~/assets/style.css" rel="stylesheet" />
</head>
<body>
   @*   <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hope.UI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>  *@
    <header class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center gap-2">
            <img src="~/assets/img/logo.jpg" style="width:40px; height:40px; object-fit:contain;">
            <span>Homam University Registration System</span>
        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center m-0 p-0">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link dropdown-toggle d-flex align-items-center pe-0 text-dark" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="d-none d-md-block ps-2">@ViewBag.UserId</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end shadow-sm profile-dropdown">
                        <li>
                            <a class="dropdown-item d-flex align-items-center " asp-controller="User" asp-action="Profile">
                                <i class="bi bi-person text-secondary"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center " asp-controller="Account" asp-action="LogOut">
                                <i class="bi bi-box-arrow-right text-danger"></i>
                                <span class="text-danger">Sign out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <aside id="sidebar" class="sidebar">
       @*  <ul class="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-grid">
                        
                    </i>      
                    <span>Dashboard</span>
                </a>                
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="GetAllUsers">
                    <i class="bi bi-person">

                    </i>
                    <span>Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Student" asp-action="GetAllStudent"
                >
                    <i class="bi bi-person">

                    </i>
                    <span>Student</span>
                </a>
            </li>
            
        </ul> *@
    </aside>
    <div class="main" id="main">
        <div class="col-sm-12 content">
            @RenderBody()
        </div>
    </div>

    <div id="Menu">

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url:'@Url.Content("/Base/GetAllPermissionByUserId/")',
                    contentType: "application/json",
                    success: function (data) {
                        $('#Menu').html(data);
                    }
                });
            });    
    </script>
</body>
</html>
