@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Hope.Infrastructure.DTO.UserDTO;
<html>
    <head>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <form asp-action="AddNewUser" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    First Name
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    Last Name
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    Date of Birth
                    <span class="text-danger">*</span>
                    <input type="date" class="form-control" asp-for="DateOfBirth" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Email
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    Mobile
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" asp-for="Mobile" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    Nationality
                    <span class="text-danger">*</span>
                    <select class="form-select" asp-for="NationalityId" asp-items="@(new SelectList(ViewBag.Nationality,"Id","Name"))">
                        <option selected="selected" value="">Please Select</option>  
                    </select>
                    <span asp-validation-for="NationalityId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Address
                    <input type="text" class="form-control" asp-for="Address"/>
                </div>
                <div class="col-md-4">
                    Gender
                    <span class="text-danger">*</span>
                    <br />
                    <input type="radio" name="Gender" value="1" asp-for="Gender"/>Male
                    <input type="radio" name="Gender" value="0" asp-for="Gender" />Female
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div> 
                <div class="col-md-4">
                    Departments
                    <span class="text-danger">*</span>
                    <select id="DepartmentList" class="form-select" asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Department, "Id", "DepartmentName"))">
                        <option selected="selected" value="">Please Select</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    Sections
                    <span class="text-danger">*</span>
                    <select id="SectionList" class="form-select" asp-for="SectionId">
                    </select>
                    <span asp-validation-for="SectionId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-4">
                     Username
                     <input type="text" asp-for="Username" class="form-control" />
                 </div>
                 <div class="col-md-4">
                     Password
                    <input type="password" asp-for="Password" class="form-control" />
                 </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Image
                    <input type="file" name="files" class="form-control"accept=".png,.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align:right">
                    <input type="submit" class="btn btn-primary" value="Create" />
                    <a herf="GetAllUsers" class="btn btn-danger">Cancel</a>
                </div>
            </div>
            </form>
        </div>
    
    <script>
        $('#DepartmentList').change(function(){
            $('#SectionList option').remove();
            $.getJSON('GetAllSectionByDepId',{DeptId:$('#DepartmentList').val()},
                function(Result){
                     $('#SectionList').append("<option value=''>Please Select</option>");
                     $.each(Result,function(){
                         $('#SectionList').append('<option value='+this.id+'>'+this.name+'</option>');
                     });
            });
        });
    </script>

@section Scripts{
@{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
</body>
</html>